# SPDX-FileCopyrightText: 2008-2022 INADA Naoki <songofacandy@gmail.com> and other contributors
#
# SPDX-License-Identifier: Apache-2.0

MANIFEST
build/*
dist/*
.tox
*.pyc
*.pyo
*.so
*~
msgpack/__version__.py
msgpack/*.cpp
*.egg-info
/venv
/tags
/docs/_build
.cache
