# SPDX-FileCopyrightText: 2008-2022 INADA Naoki <songofacandy@gmail.com> and other contributors
#
# SPDX-License-Identifier: Apache-2.0

include setup.py
include COPYING
include README.md
recursive-include msgpack *.h *.c *.pyx *.cpp
recursive-include test *.py
