name: Black

on: ["push", "pull_request"]

jobs:
  black:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: '3.x'
          architecture: 'x64'

      - name: Checkout
        uses: actions/checkout@v1

      - name: Black Code Formatter
        run: |
          pip install black
          black --diff --check msgpack/ test/ setup.py
